// custom variables
$primary: #0B1327;
$secondary: #FBC01C;

$container-max-widths: (xl: 960px, xxl: 960px);
$font-size-root: 16px;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap'